body {
	background: #000;
	color: #fff;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: Segoe UI;
	animation: bgchange;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.maintext, .boxleft, .subtext, .tblock, .a {
	position: absolute;
	display: flex;
}

.maintext {
	width: 100%;
	height: 85vh;
	justify-content: center;
	align-items: center;
	font-size: 5em;
	z-index: 3;
}

.tblock{
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding-top: 120px;
	z-index: 3;
	animation: bobbing;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function:ease-in-out;
}

.subtext {
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 3;
	padding-top: 40px;
}

@keyframes bgchange {
	0% {background-color: #000;}
	50% {background-color: #111;}
	100% {background-color: #000;}
}

@keyframes bobbing {
	0% {padding-top: 180px;}
	50% {padding-top: 200px;}
	100% {padding-top: 180px;}
}