<!DOCTYPE html>
<html lang="en-us">
  {% include head2.html %}
  <body>
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </h3>
          <h3 class="masthead-title">
            <small>{{ page.title }}</small>
          </h3>
        </div>
      </div>
      <div class="container content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
